.turcoaz{
  background: $turcoaz;
  color: $turcoaz;
}

.yellow{
  background: $yellow;
  color: $yellow;
}

.purple{
  background: $purple;
  color: $purple;
}

.orange{
  background: $orange;
  color: $orange;
}