@font-face {
  font-family: "UtwoRegular";
  src: url(../font/utwo.eot);
  src: url(../font/utwo.eot?#iefix) format("embedded-opentype"), url(../font/utwo.woff) format("woff"), url(../font/utwo.ttf) format("truetype"), url(../font/utwo.svg#UtwoRegular) format("svg");
  font-weight: 400;
  font-style: normal;
}